body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.venom-photo {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 626px;
  width: 30%;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.logo-link {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  margin-right: 30px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.film-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 2%;
  color: rgba(255, 255, 255, 0.8);
}

.film-description {
  margin-top: 3%;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
}

.film-logo {
  width: 70%;
}

.button-group {
  margin-top: 5%;
}

.button {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.button-icon, .button-text {
  vertical-align: middle;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button-primary {
  color: #8D0019;
  background-color: #fff;
}

.button-tickets {
  color: #fff;
}

.blood {
  background: url('../img/blood.png') no-repeat center center / 70%, 
  #14131A url('../img/venom-bg.png') no-repeat center center / 100%;
}

.menu-button {
  display: none;
}

.menu-close {
  display: none;
}

@media (max-width: 768px) {
  .blood {
    background: #14131A;
  }
  .venom-photo {
    top: 14%;
  }
}

@media (max-width: 494px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  .nav-menu-item {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0;
  }
  .menu-close {
    position: fixed;
    right: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    transform: translateX(300%);
    transition: transform 0.4s;
  }
  .is-active {
    transform: translateX(0%);
  }
  .menu-close-text {
    margin-right: 10px;
  }
  .nav-menu-link {
    color: #14131A;
  }
  .nav {
    margin-left: auto;
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: #14131A;
    cursor: pointer;
    color: #ffffff;
  }
  .menu-button-text {
    margin-right: 10px;
  }
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .film-text {
    text-align: center;
  }
}

@media (max-width: 494px) {
  .logo-link {
    margin-right: 0;
  }
}

